<header class="intro-header" style="background-image: url('home.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Portabilidad Numérica</h1>
                    <hr class="small">
                    <span class="subheading">Todo lo que necesitas saber sobre portabilidad numérica en telefonía móvil</span>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2 class="section-heading">Sobre la portabilidad numérica</h2>

            <p class="text-justify">La Portabilidad Numérica se origina en la Ley N°20.471, promulgada por el Presidente Sebastián Piñera, que consagra el derecho de los usuarios de telefonía a cambiarse de compañía manteniendo su número. La ley estableció que todas las empresas de telefonía fija, móvil y de voz sobre Internet (VOIP), están obligadas a implementar este sistema tecnológico que entrega plena libertad a los consumidores. Los usuarios son ahora dueños de sus números telefónicos.</p>

            <p class="text-justify">La ley de portabilidad numérica y sus normativas vinculadas, contemplaron una implementación gradual para la portabilidad fija, que comenzó el 05 de diciembre de 2011 en Arica, sigue el 12 de marzo de 2012 en Santiago, y continúa en los meses siguientes en las demás ciudades del país</p>

            <p class="text-justify">En el caso de la portabilidad móvil, su partida comercial es simultánea en todo el país, programado para el 16 de enero 2012.</p>

            <h2 class="section-heading">Beneficios</h2>

            <p class="text-justify">El principal beneficio de la portabilidad numérica es la libertad para elegir, sin amarres, a la compañía telefónica que ofrezca a los usuarios el mejor servicio y los mejores precios, conservando el número fijo o móvil.</p>

            <p class="text-justify">Elimina los contratos de amarre y exclusividad, consagrando el derecho de los usuarios a terminar el servicio telefónico cuando quieran sin multas ni trabas.</p>
            <p class="text-justify">Otro beneficio adicional, en el caso de la telefonía móvil, es la opción de cambiarse de compañía celular con el mismo equipo telefónico, solicitando el desbloqueo del terminal sin costo para los usuarios.</p>
            <h2 class="section-heading">Sobre este estudio</h2>

            <p class="text-justify">Este sitio busca presentar al público general datos sobre portabilidad numérica en cuanto a empresas de telefonía móvil, utilizando la información disponibilizada por la Superintendencia de comunicaciones desde Enero de 2012 hasta Septiembre de 2016. Dentro de las gráficas que se presentan se podrá observar la llegada de nuevos clientes a las compañías de telefonía, el movimiento de los clientes entre estas y la fuga de usuarios para cada una. El objetivo de estas visualizaciones es presentar información a los usuarios de telefonos móviles para la toma de decisiones en caso de que quieran portarse de compañía.</p>
        </div>
    </div>
</div>
</article>